<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenderController</servlet-name>
        <servlet-class>Controller.GenderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AchievementController</servlet-name>
        <servlet-class>Controller.AchievementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AchievementTypeController</servlet-name>
        <servlet-class>Controller.AchievementTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AchievementUserController</servlet-name>
        <servlet-class>Controller.AchievementUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameController</servlet-name>
        <servlet-class>Controller.GameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>Controller.GenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameGenreController</servlet-name>
        <servlet-class>Controller.GameGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>Controller.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsController</servlet-name>
        <servlet-class>Controller.StatisticsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenderController</servlet-name>
        <url-pattern>/GenderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AchievementController</servlet-name>
        <url-pattern>/AchievementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AchievementTypeController</servlet-name>
        <url-pattern>/AchievementTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AchievementUserController</servlet-name>
        <url-pattern>/AchievementUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameController</servlet-name>
        <url-pattern>/GameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/GenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameGenreController</servlet-name>
        <url-pattern>/GameGenreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsController</servlet-name>
        <url-pattern>/StatisticsController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
