html{
    height: 100%;
}
body{
    margin: 0;
    background-color: khaki;
    height: calc( 100% - 34px );
}

/*header, always visible*/

.header{
    width: 100%;
    background-color: aquamarine;
    padding: 10;
    top: 0;
    left: 0;    
}
.header p{
    margin: 0;
    padding: 8px;
    padding-right: 20px;
    text-align: right;
}

/*login part*/

#login{
    padding: 0;
    height: max-content;
}

#login h1{
    margin-top: 200px;
    text-align: center;
}
#login h4{
    margin-top: 5px;
    text-align: center;
}
#login .login-input{
    text-align: center;
}
#login input{
    width: 10%;
    margin-bottom: 15px;
}

/*aside part*/

aside{
    float: left;
    display: block;
    width: 15%;
    height: 100%;
    background-color: coral;
}
aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20%;
    padding-right: 20%;
    
}
aside input{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    
}

/*general admin main*/

.adminMain{
    float: right;
    width: 85%;
}
.userMain{
    float: right;
    width: 85%;
}
table{
    margin-left: 20%;
    width: 60%;
    margin-top: 35px;
}

/*choose game part*/

#chooseGame td{
    width: 25%;
    text-align: center;
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}
#chooseGame tr{
    outline: thin solid;
}
#chooseGame thead tr{
    outline: 0;
}
#chooseGame thead td{    
    border: black 2px solid;
    padding: 0;
    margin-bottom: 10px;
}
#chooseGame h2{
    text-align: center;
    margin-top: 150px;
}
#last{
    display: inline;
    margin-left: 70%;
    margin-top: 30px;
}
/*add achi part*/
#addAchiUL{
    margin-top: 150px;
    list-style: none;
}
#addAchiMain{
    text-align: center;
    margin-top: 120px;
}
#newAchiBTN{
    width: 200px;
}
#addAchiUL .numIN{
    width: 100px;
}
#addAchiUL textarea{
    width: 200px;
    height: 80px;
}
/*choose player part*/
#chooseTester .true{
    background-color: crimson;
}
#chooseTester td{
    width: 20%;
    text-align: center;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: thin solid;
}
#chooseTester h2{
    text-align: center;
    margin-top: 100px;
}
/*choosen player part*/

#choosenLeft{
    float: left;
    margin-top: 50px;
    margin-left: 75px;
    width: calc(80% - 75px);
}
#choosenRight{
    float: right;
    width: 20%;
}
#choosenRight input{
    display: block;
    margin-left: 20%;
    width: 220px;
    height: 30px;
    margin-top: 50px;
}
#choosenLeft p{
    margin-top: 5px;
    margin-bottom: 0;
}

/*new User/Admin*/

#newUser ul{
    display: inline;
    margin: 0;
    margin-left: calc( (100% - 300px) / 2 );
    padding: 0;
}
#newUser li{
    display: inline;
    width: 50%;
}
#newUser input{
    width: 150px;
    padding: 15px;
}
#newUser h2{
    text-align: center;
    width: 100%;
    margin-top: 300px;
}

/*new game*/

#newGame ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 400px;
}
#newGame li{
    text-align: center;
    padding: 2px;
}
#newGame h2{
    text-align: center;
    width: 100%;
    margin-top: 180px;
}
#newGame label{    
    width: 50px; 
}
#nameIN{
    width: 150px;
    text-align: left;
}
#priceIN{
    width: 45px;
}
#achievementsAdd ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 400px;
}
#achievementsAdd li{
    text-align: center;
    padding: 2px;
}

/* charts*/
#adminChartsMain{
    height: 95%;
}
#charts{
    height: 100%;
    margin-left: 15%;
}
#charts h2{
    text-align: center;
    width: 100%;
    padding-top: 50px;
}
#charts table{
    margin-left: auto;
    margin-right: auto;
}


.achievementsAdd{
    
    display: none; 
}
.progressAdd{
    display: none; 
}

/* Update game*/
#updateGame{
    text-align: center;
}
#updateGame ul{
    margin-left: calc( (100% - 400px) / 2 );
    margin-top: 100px;
    list-style-type: none;
    padding: 0;
    width: 400px;
}
#updateGame li{
    text-align: center;
    padding: 2px;
}
#updateGame h2{
    text-align: center;
    width: 100%;
    margin-top: 180px;
}
#updateGame label{    
    width: 50px; 
}
